*.iml
.gradle
/local.properties
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
.idea
.idea/
app/build/
app/release/
app/debug/
desktop/build/
core/build/
cli/build/
gradle/gradle-daemon-jvm.properties
.kotlin/
node_modules/
*.log
*.pem
*.jks
*.keystore
